 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 841px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1207px;
  margin: 43px -34px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 756px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1);
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 693px 104px 0 auto;
  padding: 0 19px 0 18px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.8em;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -43px 20px 0 auto;
  padding: 0 18px 0 16px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.8em;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 0 244px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 0 136px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 0 20px;
  padding: 8px 31px 8px 30px;
}

.u-section-1 .u-table-1 {
  width: 1207px;
  margin: -756px -34px 82px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-3 {
  font-weight: 400;
}

.u-section-1 .u-table-body-1 {
  font-size: 0.75rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 589px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 817px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -164px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 2px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 2px;
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 759px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }
}